<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    
<head>
      <meta charset="UTF-8">

      <head th:fragment="title">
        <title th:text="'SI-MEDIX' + ' | ' + ${current}"></title>
      </head>

      <head th:fragment="css">
          <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
          <link rel="stylesheet" th:href="@{/css/styles.css}"/>
      </head>
    
      <head th:fragment="js">
          <script
                  src="https://code.jquery.com/jquery-3.4.1.min.js"
                  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
                  crossorigin="anonymous"
          ></script>
          <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
          <script th:src="@{/js/bootstrap.min.js}"></script>
        </head>

        <head th:fragment="materializecss">
            <!-- CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        </head>

</head>

<body>
<nav th:fragment="navbar(page)" class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <div class="d-flex flex-row m-2">
        <div class="d-flex">
            <img class="medix-log-nav" src="/img/Medix-logo.png">
        </div>
        <a href="/" class="align-items-center m-4 text-secondary text-decoration-none">
            <span class="fs-4">SI-Medix</span>
        </a>
    </div>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/" th:classappend="${page == 'Home'} ? active : text-secondary" class="nav-link" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Home
          </a>
        </li>
        <li>
          <a th:href="@{/viewall}" th:classappend="${page == 'Pendaftar RS'} ? active : text-secondary" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Pendaftar Rumah Sakit
          </a>
        </li>
        <li>
          <a href="#" th:classappend="${page == 'Rekam Medis'} ? active : text-secondary" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Rekam Medis
          </a>
        </li>
        <li>
          <a href="#" th:classappend="${page == 'Daftar User'} ? active : text-secondary" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Daftar User
          </a>
        </li>
        <li>
          <a href="#" th:classappend="${page == 'Dashboard'} ? active : text-secondary" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Dashboard Utama
          </a>
        </li>
      </ul>
      <hr>
      <div>
        <a href="/logout" class="d-flex align-items-center text-danger text-decoration-none " >
            <strong>Logout</strong>
        </a>
      </div>
</nav>
</body>
</html>