<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>404 Not Found</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="row" style="height: 100vh; overflow: auto;">

    <nav th:replace="fragments/fragment :: navbar('Error')" class="col-sm-4"></nav>

    <div class="container text-center col-sm-8" style="height:100%">
        <div class="row h-100">
            <div class="col-12 my-auto mx-auto">
                <h2><span style="color: #e0a800;font-weight: bold;">404</span>&nbsp;Page Not Found</h2>
                <a th:href="@{/}"> Kembali ke home</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>

