body {
    font-family: 'Mulish', sans-serif;
}

.main {
    height: 100vh;
    margin-left: 270px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.main-content {
    height: 100%;
    margin-left: 270px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.card-section{
    height: 85vh;
}

.nav-side{
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    width: 270px;
    position: fixed;
    overflow-x: hidden;
}

.nav-component{
    display: block;
}

.center-section{
    display: flex;
    justify-content: center;
}

.middle-content{
    margin: auto;
    width: 600px;
    padding: 40px;
}

.center{
    text-align: center;
}

.medix-logo{
    height: 35%;
    width: 35%;
}

.medix-log-nav{
    height: 60px;
    width: 80px;
    margin:auto;
}

.flex-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-2{
    display: flex;
    flex-direction: column;
}

.input-1{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-label{
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0px;
}

.margin-top{
    margin-top: 20px;
}

.login-button{
    background-color: #00A6D6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
}

button:hover {
    opacity: 0.8;
}

.paging-nav {
    text-align: right;
    padding-top: 2px;
}

.paging-nav a {
    margin: auto 1px;
    text-decoration: none;
    display: inline-block;
    padding: 1px 7px;
    background: #91b9e6;
    color: white;
    border-radius: 3px;
}

.paging-nav .selected-page {
    background: #187ed5;
    font-weight: bold;
}

.paging-nav,
#tableData {
    width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
