<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Change Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Home')"></nav>

<div class="main-content">
    <section class="edit-profile">
        <div class="container mt-5">
            <div class="signup-content">
                <div class="edit-profile-form">
                    <h2 class="form-title">Change Password</h2>
                    <form th:action="@{/changepassword}" th:object="${changePasswordDTO}" method="POST">
                        <!-- error message -->
                        <div th:if="${fail}">
                            <div class="alert alert-danger">Old Password doesn't match!</div>
                        </div>

                        <!-- error message -->
                        <div class="error-msg hide" id="error">
                            <div class="alert alert-danger">New Password and Confirm Password doesn't match!</div>
                        </div>

                        <!-- success message -->
                        <div th:if="${success}">
                            <div class="alert alert-info">You've successfully change your password!</div>
                        </div>

                        <div class="d-flex flex-row">
                            <div class="form-group">
                                <label for="oldPassword"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" style="width: 600px;" id="oldPassword" name="oldPassword" placeholder="Old password" required>
                            </div>
                            <i class="zmdi zmdi-eye-off eye-icon mt-2" id="eye1" onclick="showPassword('oldPassword','eye1')"></i>
                        </div>

                        <div class="d-flex flex-row mt-3">
                            <div class="form-group">
                                <label for="newPassword"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" style="width: 600px;" id="newPassword" name="newPassword" placeholder="New password" onkeyup="validatePassword()" required>
                            </div>
                            <i class="zmdi zmdi-eye-off eye-icon mt-2" id="eye2" onclick="showPassword('newPassword','eye2')"></i>
                        </div>

                        <div class="d-flex flex-row mt-3">
                            <div class="form-group">
                                <label for="confirmPassword"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" style="width: 600px;" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" onkeyup="validatePassword()" required>
                            </div>
                            <i class="zmdi zmdi-eye-off eye-icon mt-2" id="eye3" onclick="showPassword('confirmPassword','eye3')"></i>
                        </div>

                        <div class="form-group center-section mt-3">
                            <button class="login-button" id="submit-button" type="submit">Update</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    function validatePassword() {
        const newPass = document.getElementById('newPassword').value;
        const confPass = document.getElementById('confirmPassword').value
        console.log(newPass);
        console.log(confPass);
        if(newPass == confPass) {
            document.getElementById('submit-button').disabled = false;
            $('#error').addClass('hide');
        } else {
            document.getElementById('submit-button').disabled = true;
            $('#error').removeClass('hide');
        }
    }

    function showPassword(idElem, idEye) {
        if (document.getElementById(idElem).type === "password") {
            document.getElementById(idElem).type  = "text";
            $('#'+idEye).removeClass('zmdi-eye-off');
            $('#'+idEye).addClass('zmdi-eye');
        } else {
            document.getElementById(idElem).type = "password";
            $('#'+idEye).removeClass('zmdi-eye');
            $('#'+idEye).addClass('zmdi-eye-off');
        }
    }
</script>
</body>

</html>

