<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar('Dashboard')"></nav>
    <div class="main-content">
        <div class="row h-100 m-5 p-8">
            <div class="col-8 my-auto pl-0">
                <h3>Selamat Datang,&nbsp;<span style="color: #e0a800;font-weight: bold;" th:text="${authuser.username}"></span></h3>
            </div>
            <div class="col-4">
                <div class="card col-sm-12">
                    <div class="widget-group d-flex flex-row mt-2">
                        <h5 class="center-align grey-text text-darken-1">Clock</h5>
                        <i class="zmdi zmdi-time ml-1 mt-1"></i>
                    </div>
                    <div class="mb-1">
                        <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${authuser.role.id} == 1">
            <div class="row h-100 ml-5">
                <h6>Rekap Data Medix</h6>
            </div>
            <div class="row ml-5 mt-3">
                <div class="card col-sm-3">
                    <div class="widget-group d-flex flex-column mt-2">
                        <h6 class="center-align grey-text text-muted mx-auto">Jumlah Flagged Rekam Medis</h6>
                        <h2 class="center-align mx-auto" th:text="${jumlahFlaggedRekamMedis}"></h2>
                    </div>
                </div>
                <div class="card col-sm-3 ml-4">
                    <div class="widget-group d-flex flex-column mt-2">
                        <h6 class="center-align grey-text text-muted mx-auto">Jumlah Rumah Sakit</h6>
                        <h2 class="center-align mx-auto" th:text="${jumlahRumahSakit}"></h2>
                    </div>
                </div>
                <div class="card col-sm-3 ml-4">
                    <div class="widget-group d-flex flex-column mt-2">
                        <h6 class="center-align grey-text text-muted mx-auto">Jumlah Pendaftar Pending</h6>
                        <h2 class="center-align mx-auto" th:text="${jumlahPendaftarPending}"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${authuser.role.id} != 1">
            <div class="row h-100 ml-5">
                <h6>Rekap Data Rumah Sakit</h6>
            </div>
            <div class="row">
                <div id="test-val-chart" style="width:100vw; height:500px;"></div>
            </div>
            <div class="row ml-5">
                <div id="jk-chart" style="width:320px; height:240px;"></div>
                <div id="konsultasi-chart" style="width:320px; height:240px;"></div>
                <div id="bpjs-chart" style="width:320px; height:240px;"></div>
            </div>
            <div class="row mt-2">
                <div class="filter-obat mb-2">
                    Filter Obat Terjual by Month :
                    <select class="form-control" id="month">
                        <option value="0">All</option>
                        <option value="1">Januari</option>
                        <option value="2">Februari</option>
                        <option value="3">Maret</option>
                        <option value="4">April</option>
                        <option value="5">Mei</option>
                        <option value="6">Juni</option>
                        <option value="7">Juli</option>
                        <option value="8">Agustus</option>
                        <option value="9">September</option>
                        <option value="10">Oktober</option>
                        <option value="11">November</option>
                        <option value="12">Desember</option>
                    </select>
                    <button class="mt-1" id="btn">Apply</button>
                </div>
                <div id="obat-chart-0" style="width:100vw; height:500px;"></div>
                <div class="hide" id="obat-chart-1" style="width:100vw; height:500px;"></div>
                <div class="hide" id="obat-chart-2" style="width:100vw; height:500px;"></div>
                <div class="hide" id="obat-chart-3" style="width:100vw; height:500px;"></div>
                <div class="hide" id="obat-chart-4" style="width:100vw; height:500px;"></div>
                <div class="hide" id="obat-chart-5" style="width:100vw; height:500px;"></div>
                <div class="hide" id="obat-chart-6" style="width:100vw; height:500px;"></div>
                <div class="hide" id="obat-chart-7" style="width:100vw; height:500px;"></div>
                <div class="hide" id="obat-chart-8" style="width:100vw; height:500px;"></div>
                <div class="hide" id="obat-chart-9" style="width:100vw; height:500px;"></div>
                <div class="hide" id="obat-chart-10" style="width:100vw; height:500px;"></div>
                <div class="hide" id="obat-chart-11" style="width:100vw; height:500px;"></div>
                <div class="hide" id="obat-chart-12" style="width:100vw; height:500px;"></div>
            </div>
        </div>
    </div>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="application/javascript">
        function showTime(){
            const date = new Date();
            var dy = date.getDay();
            var dt = date.getDate();
            var mt = date.getMonth();
            var y = date.getFullYear();
            var h = date.getHours(); // 0 - 23
            var m = date.getMinutes(); // 0 - 59
            var s = date.getSeconds(); // 0 - 59
            var session = "AM";

            if(dy == 0){
                dy = "Sun";
            } else if(dy == 1){
                dy = "Mon";
            } else if(dy == 2){
                dy = "Tue";
            } else if(dy == 3){
                dy = "Wed";
            } else if(dy == 4){
                dy = "Thu";
            } else if(dy == 5){
                dy = "Fri";
            } else if(dy == 6){
                dy = "Sat";
            }

            if(mt == 0){
                mt = "Jan";
            } else if(mt == 1){
                mt = "Feb";
            } else if(mt == 2){
                mt = "Mar";
            } else if(mt == 3){
                mt = "Apr";
            } else if(mt == 4){
                mt = "May";
            } else if(mt == 5){
                mt = "Jun";
            } else if(mt == 6){
                mt = "Jul";
            } else if(mt == 7){
                mt = "Aug";
            } else if(mt == 8){
                mt = "Sep";
            } else if(mt == 9){
                mt = "Oct";
            } else if(mt == 10){
                mt = "Nov";
            } else if(mt == 11){
                mt = "Dec";
            }

            if(h == 0){
                h = 12;
            }

            if(h > 12){
                h = h - 12;
                session = "PM";
            }

            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;

            var time = dy + ", " + dt + " " + mt + " " + y + ", " + h + ":" + m + ":" + s + " " + session;
            document.getElementById("MyClockDisplay").innerText = time;
            document.getElementById("MyClockDisplay").textContent = time;

            setTimeout(showTime, 1000);

        }

        showTime();

        google.charts.load('current',{packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var res = new Array();
            res[0] = new Array("Month", "Test-val");
            res[1] = new Array("Jan",jsonData[0]['Jan']);
            res[2] = new Array("Feb",jsonData[0]['Feb']);
            res[3] = new Array("Mar",jsonData[0]['Mar']);
            res[4] = new Array("Apr",jsonData[0]['Apr']);
            res[5] = new Array("May",jsonData[0]['May']);
            res[6] = new Array("Jun",jsonData[0]['Jun']);
            res[7] = new Array("Jul",jsonData[0]['Jul']);
            res[8] = new Array("Aug",jsonData[0]['Aug']);
            res[9] = new Array("Sep",jsonData[0]['Sep']);
            res[10] = new Array("Oct",jsonData[0]['Oct']);
            res[11] = new Array("Nov",jsonData[0]['Nov']);
            res[12] = new Array("Dec",jsonData[0]['Dec']);

            var data = new google.visualization.arrayToDataTable(res);

            var options = {
                title: 'Jumlah Hasil Lab',
                hAxis: {title: 'Month'},
                vAxis: {title: 'Test-val', minValue: 0},
                seriesType: "area",
                series: {5: {type: "line"}}
            };


            var chart = new google.visualization.ComboChart(document.getElementById('test-val-chart'));
            chart.draw(data, options);

        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawPieChart1);

        function drawPieChart1() {
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var res = new Array();
            res[0] = new Array("Jenis Kelamin", "Jumlah");
            res[1] = new Array("Pria",jsonData[1]['Pria']);
            res[2] = new Array("Wanita",jsonData[1]['Wanita']);

            var data = google.visualization.arrayToDataTable(res);

            // Optional; add a title and set the width and height of the chart
            var options = {'title':'Perbandingan Jenis Kelamin Pasien', 'width':320, 'height':240};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('jk-chart'));
            chart.draw(data, options);
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawPieChart2);

        // Draw the chart and set the chart values
        function drawPieChart2() {
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[2]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Jenis Konsultasi", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[2][keylist[i]]);
            }

            var data = google.visualization.arrayToDataTable(res);

            // Optional; add a title and set the width and height of the chart
            var options = {'title':'Jenis Konsultasi', 'width':320, 'height':240};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('konsultasi-chart'));
            chart.draw(data, options);
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawPieChart3);

        // Draw the chart and set the chart values
        function drawPieChart3() {
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var res = new Array();
            res[0] = new Array("BPJS", "Non-BPJS");
            res[1] = new Array("BPJS",jsonData[3]['bpjs']);
            res[2] = new Array("Non-BPJS",jsonData[3]['nonbpjs']);

            var data = google.visualization.arrayToDataTable(res);

            // Optional; add a title and set the width and height of the chart
            var options = {'title':'Jumlah Pasien yang Menggunakan BPJS', 'width':320, 'height':240};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('bpjs-chart'));
            chart.draw(data, options);
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart);

        function drawBarChart() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[4]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[4][keylist[i]]);
            }

            if (index == 0) {
                document.getElementById('obat-chart-0').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-0').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual Keseluruhan'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-0'));
                chart.draw(data, options);
            }
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart1);

        function drawBarChart1() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[5]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[5][keylist[i]]);
            }

            if (index == 0) {
                res[1] = new Array("", "");
            }

            if (index == 0) {
                document.getElementById('obat-chart-1').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-1').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual Januari 2022'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-1'));
                chart.draw(data, options);
            }
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart2);

        function drawBarChart2() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[6]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[6][keylist[i]]);
            }

            if (index == 0) {
                document.getElementById('obat-chart-2').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-2').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual Februari 2022'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-2'));
                chart.draw(data, options);
            }
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart3);

        function drawBarChart3() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[7]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[7][keylist[i]]);
            }

            if (index == 0) {
                document.getElementById('obat-chart-3').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-3').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual Maret 2022'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-3'));
                chart.draw(data, options);
            }
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart4);

        function drawBarChart4() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[8]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[8][keylist[i]]);
            }

            if (index == 0) {
                document.getElementById('obat-chart-4').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-4').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual April 2022'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-4'));
                chart.draw(data, options);
            }
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart5);

        function drawBarChart5() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[9]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[9][keylist[i]]);
            }

            if (index == 0) {
                document.getElementById('obat-chart-5').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-5').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual Mei 2022'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-5'));
                chart.draw(data, options);
            }
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart6);

        function drawBarChart6() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[10]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[10][keylist[i]]);
            }

            if (index == 0) {
                document.getElementById('obat-chart-6').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-6').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual Juni 2022'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-6'));
                chart.draw(data, options);
            }
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart7);

        function drawBarChart7() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[11]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[11][keylist[i]]);
            }

            if (index == 0) {
                document.getElementById('obat-chart-7').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-7').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual Juli 2022'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-7'));
                chart.draw(data, options);
            }
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart8);

        function drawBarChart8() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[12]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[12][keylist[i]]);
            }

            if (index == 0) {
                document.getElementById('obat-chart-8').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-8').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual Agustus 2022'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-8'));
                chart.draw(data, options);
            }
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart9);

        function drawBarChart9() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[13]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[13][keylist[i]]);
            }

            if (index == 0) {
                document.getElementById('obat-chart-9').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-9').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual September 2022'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-9'));
                chart.draw(data, options);
            }
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart10);

        function drawBarChart10() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[14]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[14][keylist[i]]);
            }

            if (index == 0) {
                document.getElementById('obat-chart-10').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-10').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual Oktober 2022'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-10'));
                chart.draw(data, options);
            }
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart11);

        function drawBarChart11() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[15]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[15][keylist[i]]);
            }

            if (index == 0) {
                document.getElementById('obat-chart-11').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-11').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual November 2022'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-11'));
                chart.draw(data, options);
            }
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBarChart12);

        function drawBarChart12() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "https://si-medix.herokuapp.com/api/v1/chartdata",
                dataType: "json",
                async: false
            }).responseJSON;

            var keylist = new Array();
            var index = 0;

            for (var key in jsonData[16]) {
                keylist[index] = key;
                index++;
            }

            var res = new Array();
            res[0] = new Array("Tipe Obat", "Jumlah");

            for (let i = 0; i < index; i++) {
                res[i+1] = new Array(keylist[i],jsonData[16][keylist[i]]);
            }

            if (index == 0) {
                document.getElementById('obat-chart-12').innerHTML = "No Chart Data";
                document.getElementById('obat-chart-12').style.marginLeft = '100px';
            } else {
                var data = google.visualization.arrayToDataTable(res);

                var options = {title: 'Tipe Obat yang Paling Sering Terjual Desember 2022'};

                // Instantiate and draw the chart.
                var chart = new google.visualization.ColumnChart(document.getElementById('obat-chart-12'));
                chart.draw(data, options);
            }
        }

        const btn = document.querySelector('#btn');
        const sb = document.querySelector('#month');
        var index = sb.selectedIndex;

        btn.onclick = (event) => {
            event.preventDefault();
            // show the selected index
            if (sb.selectedIndex == 0){
                if ($('#obat-chart-0').hasClass('hide')){
                    $('#obat-chart-0').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 0;
                }
            } else if (sb.selectedIndex == 1){
                if ($('#obat-chart-1').hasClass('hide')){
                    $('#obat-chart-1').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 1;
                }
            } else if (sb.selectedIndex == 2){
                if ($('#obat-chart-2').hasClass('hide')){
                    $('#obat-chart-2').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 2;
                }
            } else if (sb.selectedIndex == 3){
                if ($('#obat-chart-3').hasClass('hide')){
                    $('#obat-chart-3').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 3;
                }
            } else if (sb.selectedIndex == 4){
                if ($('#obat-chart-4').hasClass('hide')){
                    $('#obat-chart-4').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 4;
                }
            } else if (sb.selectedIndex == 5){
                if ($('#obat-chart-5').hasClass('hide')){
                    $('#obat-chart-5').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 5;
                }
            } else if (sb.selectedIndex == 6){
                if ($('#obat-chart-6').hasClass('hide')){
                    $('#obat-chart-6').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 6;
                }
            } else if (sb.selectedIndex == 7){
                if ($('#obat-chart-7').hasClass('hide')){
                    $('#obat-chart-7').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 7;
                }
            } else if (sb.selectedIndex == 8){
                if ($('#obat-chart-8').hasClass('hide')){
                    $('#obat-chart-8').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 8;
                }
            } else if (sb.selectedIndex == 9){
                if ($('#obat-chart-9').hasClass('hide')){
                    $('#obat-chart-9').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 9;
                }
            } else if (sb.selectedIndex == 10){
                if ($('#obat-chart-10').hasClass('hide')){
                    $('#obat-chart-10').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 10;
                }
            } else if (sb.selectedIndex == 11){
                if ($('#obat-chart-11').hasClass('hide')){
                    $('#obat-chart-11').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 11;
                }
            } else if (sb.selectedIndex == 12){
                if ($('#obat-chart-12').hasClass('hide')){
                    $('#obat-chart-12').removeClass('hide');
                    $('#obat-chart-'+index).addClass('hide');
                    index = 12;
                }
            }
        };
    </script>
</body>
</html>

