<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Detail Pendaftar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Pendaftar RS')"></nav>
<div class="main-content">
    <div class="card p-4 m-5 col-sm-9 card-section" th:each="rm, iterationStatus : ${listRM}">
        <div class="card-body">
            <div class="justify-content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Detail Rekam Medis</h2>
                        </div>
                        <div class="col-sm-6">
                            <h3 style="text-align:right" th:text="${rm.personid}"></h3>
                        </div>
                    </div>
                </div>
                <table class="table table-hover" style="width:100%;">
<!--                    <tr>-->
<!--                        <th style="width:30%;"></th>-->
<!--                        <th></th>-->
<!--                    </tr>-->

                    <tr>
                        <td>
                            <p>No.</p>
                            <p>Alasan masuk Ruang Inap</p>
                            <p>Keadaan Umum </p>
                            <p>Rumah Sakit</p>
                            <p>Tanggal Dibuat</p>
                            <p>Tanggal Modifikasi</p>
                        </td>
                        <td>
                            <p th:text="${rm.resume_medis_id}">2021/12/13/000002</p>
                            <p th:text="${rm.alasan_masuk_ri}">Lorem Ipsum</p>
                            <p th:text="${rm.keadaan_umum}">Lorem Ipsum</p>
                            <p th:text="${rm.hospital_id}">RS Mitra Keluarga</p>
                            <p th:text="${rm.created_date}"> 16/04/2022</p>
                            <p th:text="${rm.modified_date}">24/04/2022 </p>
                        </td>
                    </tr>
                </table>
                <h4><u>Diagnosa</u></h4>
                <ul>
                   <p th:text="${rm.diagnosa}"></p>
                </ul>
                <div class="container">
                    <div class="row">
                <div class="col-sm-6">
                    <h4><u>Obat Selama Perawatan</u></h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    <li> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                    <li> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                </ul>
            </div>
                <div class="col-sm-6">
                    <h3><u>Obat Pulang</u></h3>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li> sed do </li>
                        <li> Ut enim ad</li>
                    </ul>
                </div>
                </div>
                </div>
                </div>
                </div>
            </div>

</div>
</div>
</body>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</html>