<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Edit Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Home')"></nav>

<div class="main-content">
    <section class="edit-profile">
        <div class="container mt-5">
            <div class="signup-content">
                <div class="edit-profile-form">
                    <h2 class="form-title">Edit Profile</h2>
                    <form th:action="@{/editprofile}" th:object="${user}" method="POST">
                        <input type="hidden" th:value="*{status}" name="status">

                        <div class="flex-1">
                            <div class="flex-2 form-group">
                                <label for="firstname"><i class="zmdi zmdi-face"></i></label>
                                <input type="text" id="firstname" name="firstname" placeholder="First Name" th:value="*{firstname}"  required>
                            </div>
                            <div class="flex-2 form-group">
                                <input type="text" name="lastname" placeholder="Last Name" th:value="*{lastname}" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" class="read-only" id="username" name="username" placeholder="Username" th:value="*{username}" readonly>
                        </div>

                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" id="email" name="email" placeholder="Email" th:value="*{email}" required>
                        </div>

                        <div class="form-group" th:if="*{role.id != 1}">
                            <select name="role" class="form-select" th:value="*{role.id}" required>
                                <option>--Pilih Role--</option>
                                <option>Admin Khanza</option>
                                <option>Manajer Rumah Sakit</option>
                            </select>
                        </div>

                        <input name="password" type="hidden" th:value="*{password}">

                        <input name="role" th:if="*{role.id == 1}" type="hidden" th:value="*{role.id}">

                        <input name="link" type="hidden" th:value="*{link}">

                        <div class="form-group center-section mt-3">
                            <button class="login-button" type="submit">Update</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</body>

</html>

