<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <title>SI-Medix</title>
</head>
<body class="bg-gray">
    <div class="main">
        <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="/img/login-pic.jpg"></figure>
                    <h6 class="center margin-top">Belum punya akun?&nbsp;<span><a href="/signup" class="signup-image-link">Daftar sekarang</a></span></h6>
                </div>
                <div class="signup-form">
                    <div class="center-section">
                        <img class="medix-logo-login" src="/img/Medix-logo.png">
                    </div>
                    <h2 class="form-title">Login Akun</h2>
                    <form th:action="@{/login}" method="POST">
                        <!-- error message -->
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">Invalid username or password. If you have already registered please wait for your account to be accepted</div>
                        </div>
                
                        <!-- logout message -->
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">You have been logged out.</div>
                        </div>
                
                        <div class="form-group">
                            <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" id="username" name="username" placeholder="Username" required>
                        </div>

                        <div class="d-flex flex-row mt-3">
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" style="width: 450px;" id="password" name="password" placeholder="Password" required>
                            </div>
                            <i class="zmdi zmdi-eye-off eye-icon mt-3" id="eye" onclick="showPassword('password','eye')"></i>
                        </div>

                        <div class="form-group center-section">
                            <button class="login-button" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </section>
    </div>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script type="text/javascript">
        function showPassword(idElem, idEye) {
            if (document.getElementById(idElem).type === "password") {
                document.getElementById(idElem).type  = "text";
                document.getElementById(idEye).classList.remove('zmdi-eye-off');
                document.getElementById(idEye).classList.add('zmdi-eye');
            } else {
                document.getElementById(idElem).type = "password";
                document.getElementById(idEye).classList.remove('zmdi-eye');
                document.getElementById(idEye).classList.add('zmdi-eye-off');
            }
        }
    </script>
</body>
</html>