<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <title>SI-Medix</title>
</head>
<body class="bg-gray">
    <div class="main">
        <div class="center-section">
            <img class="medix-logo" src="/img/Medix-logo.png">
        </div>
        <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="/img/login-pic.jpg"></figure>
                    <h6 class="center margin-top">Belum punya akun?&nbsp;<span><a href="/signup" class="signup-image-link">Daftar sekarang</a></span></h6>
                </div>
                <div class="signup-form">
                    <h2 class="form-title">Login Akun</h2>
                    <form th:action="@{/login}" method="POST">
                        <!-- error message -->
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">Invalid username or password. If you have already registered please wait for your account to be accepted</div>
                        </div>
                
                        <!-- logout message -->
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">You have been logged out.</div>
                        </div>
                
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="username" placeholder="Username" required>
                        </div>
                
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="form-group center-section">
                            <button class="login-button" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </section>
    </div>
</body>
</html>