<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/login.css}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <title>SI-Medix</title>
</head>
<body class="bg-gray">
<div class="main">
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="/img/login-pic.jpg"></figure>
          <h6 class="center margin-top">Belum punya akun?&nbsp;<span><a href="/signup" class="signup-image-link">Daftar sekarang</a></span></h6>
        </div>
        <div class="signup-form">
          <div class="center-section">
            <img class="medix-logo-login" src="/img/Medix-logo.png">
          </div>
          <h2 class="form-title">Resend Verification Code</h2>

          <form th:action="@{/resendcode}" method="POST">
            <!-- success message -->
            <div th:if="${success}">
              <div class="alert alert-info">New verification link has been sent.</div>
            </div>

            <!-- error message -->
            <div th:if="${error1}">
              <div class="alert alert-danger">Resend code failed! We could not find your email, please make sure you have already signed up.</div>
            </div>

            <!-- error message -->
            <div th:if="${error2}">
              <div class="alert alert-danger">Resend code failed! Your email has been verified.</div>
            </div>

            <div class="form-group">
              <label for="email"><i class="zmdi zmdi-email material-icons-name"></i></label>
              <input type="text" id="email" name="email" placeholder="Email" required>
            </div>

            <div class="form-group center-section">
              <button class="resend-code-button" type="submit">Resend Code</button>
            </div>
            <h6 class="center margin-top">Sudah punya akun?&nbsp;<span><a href="/login" class="signup-image-link">Login sekarang</a></span></h6>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</body>
</html>