<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Detail Pendaftar</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar('Pendaftar RS')"></nav>
    <div class="main-content">
        <div class="card p-4 m-5 col-sm-9 card-section">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2>Detail Pendaftar</h2>
                    <br>
                    <table class="table">

                        <tbody>
                        <td>
                            <p>Username</p>
                            <p>Nama</p>
                            <p>Alamat Email</p>
                            <p>Mendaftar sebagai</p>
                        </td>
                        <td>
                            <p th:text="${user.username}"></p>
                            <p th:text=" ${user.firstname} + ' ' + ${user.lastname}"></p>
                            <p th:text="${user.email}"></p>
                            <p th:if="${user.role.id} == 2">Admin RS </p>
                            <p th:if="${user.role.id} == 3">Manajer RS</p>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex flex-row">
                        <a class="btn btn-outline-primary mr-2" th:href="@{/viewall}">Kembali</a>
                        <div th:if="${user.status} == 3">
                            <a class="btn btn-primary" th:href="@{/pendaftar/}+${user.username}+'/accept'">Terima User</a>
                            <a class="btn btn-danger" th:href="@{/pendaftar/}+${user.username}+'/decline'">Tolak</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>