<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

        <object th:include="fragments/fragment :: materializecss" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
        <object th:include="fragments/fragment :: title (current='List User')" th:remove="tag"></object>
</head>

<body>
    <div th:replace="fragments/fragment :: navbar"></div>
    <div class="container">

        <h3 class="center-align grey-text text-darken-1">List User</h3>

        <div th:if="${listUser.size() != 0}">
            <table class="responsive-table striped">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Nama Depan</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Detail Pendaftar</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, iterationStatus : ${listUser}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.firstname}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:if="${user.status} == 3">Pending</td>
                    <td th:if="${user.status} == 1">Approved</td>
                    <td th:if="${user.status} == 2">Not Approved</td>
                    <td>
                        <a th:href="@{/user/detail/} + ${user.username}"
                           class="waves-effect waves-light btn-small lime edit-btn">
                            <i class="material-icons">Detail</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${listUser.size() <= 0}">
            <h5 class="indigo-text">Belum ada pendaftar!</h5>
        </div>
        <a th:href="@{/}" class="waves-effect waves-light btn indigo lighten-1">
            <i class="material-icons left">Home</i>
        </a>
    </div>
</body>
</html>