<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <object th:include="fragments/fragment :: title (current='Rekam Medis')" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('Rekam Medis')" class="col-sm-4"></nav>
    <div class="main-content">
        <div class="card m-5 p-8 col-sm-10">
            <h3 class="center-align grey-text text-darken-1" style="padding-left:12px;margin-top:20px;">Rekam Medis</h3>
            <!-- success message -->
            <div th:if="${successAcc}">
                <div class="alert alert-info">Accept user success. Approval notification email has been sent to user.</div>
            </div>

            <!-- success message -->
            <div th:if="${successDec}">
                <div class="alert alert-info">Decline user success. Rejection notification email has been sent to user.</div>
            </div>

            <!-- error message -->
            <div th:if="${errorAcc}">
                <div class="alert alert-danger">Accept user failed! Maybe the user has been approved.</div>
            </div>

            <!-- error message -->
            <div th:if="${errorDec}">
                <div class="alert alert-danger">Decline user failed!</div>
            </div>

            <div class="card-body">
                <form th:action="@{/rekamMedis}" class="m-8 p-2 col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Masukkan keyword..." id="keyword" name="keyword" th:value="${keyword}">
                                <span class="search-btn">
                                    <button class="btn btn-primary" type="submit" id="btn-search">SEARCH</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <br>
                </form>
                <div th:if="${listPasien.size() != 0}">
                    <table id="dtUserTable" class="table table-sm table-hover table-bordered" style="margin-top: 10px;">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>NIK</th>
                            <th>Nama Lengkap</th>
                            <th>Jenis Kelamin</th>
                            <th>email</th>
                            <th>Detail Pendaftar</th>
                            
                        </tr>
                        </thead>
                        <tbody >
                        <tr th:each="pasien, iterationStatus : ${listPasien}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${pasien.nik}"></td>
                            <td th:text="${pasien.full_name}"></td>
                            <td th:if="${pasien.sex} == 1">Laki-laki</td>
                            <td th:if="${pasien.sex} == 2">Perempuan</td>
                            <td style="width: 18px; overflow:auto;" th:text="${pasien.email}"></td>
                            <td>
                                <a th:href="@{/rekamMedis/} + ${pasien.personId}" class="btn btn-primary">
                                    Detail
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${listPasien.size() == 0}">
                    <h5 class="indigo-text">Tidak Terdapat Pasien.</h5>
                </div>
            </div> 
        </div>       
    </div>
</div>
<!-- Paging JS -->
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/paging.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#dtUserTable').paging({limit:5});
        });
    </script>
</body>
</html>